/* This stylesheet is where to add styles for your Shakespeare Play */
/*We usually add something general for the body*/
* {
  box-sizing: border-box;  
  margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 95px;
  }
  
  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 251, 247);
    /*your style rules go in here */
  }

  main {

  }

  .backtotop {
    position: fixed;
    bottom: 2px;
    right: 8px;
  }

  .backtotop a {
    text-decoration: none;
    font-size: 3em;
    color: rgb(116, 116, 116)
  }

  .backtotop a:hover {
    color: black;
  }

  section.nav {
    /* this is where your nav list items will be */
  }
  
  section {
    background-color: white
  }
  
  /*Here follows the class names that you will have in your html*/
  /*You may have more if you added styles in InDesign*/
  /*You need to add the style attributes between the curly brackets*/
  
  /* the following may not be used but it doesn't matter if they are listed here  */
  
  /* If you ahe created any new styles in InDesign and used export tags then you need to add them here */
  
  section.dramatis {
  }
  
  section.play {
    padding: 2em;
  }
  .title {
    padding-top: 110px;
    text-align: center;
  }

  .dramatis,
  .play {
    padding: 3em;
    width: 70%;
    margin: 50px auto;
    max-width: 1000px;
    border:1px solid rgb(116, 116, 116);
  }

  img {
      max-width: 80%;
      width: 80%;
      margin: 0 auto;
      display: block;
      box-sizing: border-box;
      padding: 2rem;
  }

  div.sceneImage {
  }
  h1.act {
    text-align: center;
    background-color: rgb(250, 235, 217);
    padding: 1em;
    border: 1px;
    border:1px solid rgb(116, 116, 116);
  }
  
  p.character {
    font-weight: bold;
    padding-top: 12px;
  }
  
  p.charactername {
  }
  
  h1.dramatishead {
    text-align: center;
    background-color: rgb(250, 235, 217);
    padding: 1em;
    border:1px solid rgb(116, 116, 116);
    margin-bottom: 12px;
  }
  
  h2.firstscene {
    margin: 10px 0 10px 0;
    padding: 10px;
    text-align: center;
    background-color: rgb(243, 243, 243);
    border:1px solid rgb(116, 116, 116);
  }
  
  h2.location {
    padding: 0.5em;
    font-size: 12pt;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
  }
  
  p.play_location {
  }
  
  p.prose {
    margin: 0 0 0 5.5em;
    max-width: 600px;
  
  }
  
  h2.scene {
    padding: 10px;
    text-align: center;
    background-color: rgb(243, 243, 243);
    border:1px solid rgb(116, 116, 116);
    margin: 10px 0 10px 0;
  }
  
  
  p.song {
    text-align: center;
    margin: 0 0 0 0;
    max-width: 500px;
  }
  
  h2.stagedirection {
    font-size: 12pt;
    font-weight: lighter;
    font-style: italic;
    padding-top: 1em;
  }
  
  .verseline {
    margin: 0 0 0 5.5em;
    max-width: 600px;
  }
  span.character_role {
  }
  span.stage_directions_inline {
  
  }
  
  span.character_beforespeech {
  }
  
  @media screen and (max-width: 800px) {
    html {
      font-size: 12px;
    }
    h2.stagedirection {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 700px) {
    dramatis,
    .play, .dramatis {
      width: 100%;
      padding: 1em 3em;
    }
  }
  
  .hamburger {
    font-size: 2rem;
    display: none;
    margin-right: 0.5em;
    color: rgb(116, 116, 116);
  }

  nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(250, 235, 217);
    z-index: 100;
  }
  
  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ ul {
    display: block;
  }

  .hamburger {
    display: none;
    font-size: 2.5em;
    margin-right: 0.5em;
    color: rgb(116, 116. 116);
  }
  
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border:1px solid rgb(116, 116, 116);
  }
  
  nav ul li {
    flex: 0 0 8rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  li.home {
    text-align: center;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 0.8rem 1rem;
    display: block;
    color: gray;
  }

  nav ul li ul li a {
  }
  
  nav ul li:hover {
  }
  
  nav ul li a:hover {
    color: black;
  }
  
  li ul {
    display: none;
    position: absolute;
    background-color: white;
  }
  
  nav ul li:hover ul {
    display: flex;
    flex-direction: column;
  }
  
  nav ul li ul li {
    flex: 0 1 auto;
    width: 8rem;
  }
  
  @media screen and (max-width: 700px) {
    nav ul{
      display: none;
      flex-direction: column;
    }
  
    .hamburger {
      display: block;
      float: right;
      cursor: pointer;
    }

    #toggle:checked ~ #menu {
      display: block !important;
    }
  
    html {
      scroll-padding-top: 245px;
    }

    li ul {
      position: static;
    }
  
    nav ul li {
      flex: 0 0 auto;
      width: 100%;
    }
  }